# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
.vscode
eclipse
saves
crash-reports
debug
local
mods
resourcepacks
screenshots
schematics

# Files from Forge MDK
forge*changelog.txt
