# Auto detect text files and perform LF normalization
* text=auto

# Force config files to LF
*.json  text eol=lf
*.json5 text eol=lf
*.toml  text eol=lf
*.cfg   text eol=lf
*.txt   text eol=lf
*.toml text working-tree-encoding=UTF-8 eol=lf